CLOUDFLARE_ENV=local
MADRID_STUDY_ROOMS_CSV_URL=https://datos.madrid.es/dataset/217921-0-salas-estudio/resource/217921-1-salas-estudio-csv/download/217921-1-salas-estudio-csv.csv
MADRID_LIBRARIES_CSV_URL=https://datos.madrid.es/egob/catalogo/201747-0-bibliobuses-bibliotecas.csv

